.notif {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .notif .paper {
    width: 30%;
    height: 20vh;
    background-color: rgba(41, 41, 41, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
  
  .notif .paper button {
    color: rgb(179, 179, 179);
    width: 50%;
    user-select: none;
    -webkit-user-select: none;
  }
  .notif .paper button:hover {
    color: rgb(247, 247, 247);
  }