input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  color: black;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.X {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.background {
  border-radius: 8px;
  padding: 7px;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 145, 0.589) 50%,
    rgba(111, 239, 158, 0.542) 100%
  );
}
.main {
  padding: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 4px rgb(255, 255, 255);
  border-radius: 8px;
  background: #ffffff05;
  background-color: rgba(133, 133, 133, 0.876);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input {
  color: black;
  border-radius: 8px;
  height: 50px;
  font-size: 20px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.menuButton:disabled {
  opacity: 0.2;
}
.select {
  color: black;
  border-radius: 8px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}
.error {
  border-color: red;
}
.inputs{
  display: flex;
  align-items: center;
  gap: 24px
}
.help {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  color:rgb(9, 255, 165);
  text-shadow: 0px 0px 5px rgb(0, 255, 145);
}
select option {
  color: black;
}


