.App {
    min-height: 100vh;
    max-width: 700px;
    margin: auto;
    padding: 50px 0px;
  }
  .header {
    text-align: center;
    font-size: 40px;
  }
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
    height: 20px;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .box {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px 5px;
  }
  .box .btns {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .box .tab {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px auto 10px auto;
    color: #ffd369;
  }
  
  .blur {
    filter: blur(2px);
  }
  @media screen and (max-width: 960px) {
    .App {
      padding: 10px 0px 90px 0px;
    }
    .notif .paper {
      width: 80%;
    }
  }
  