.Menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    z-index: 2;
}
.Menu button {
    height: 75%;
}


@media screen and (max-width: 960px) {
    .Menu{
        bottom: 0;
        top: auto;
    }
}